
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Join vibe </title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	<link href="css/style.css" rel='stylesheet' type='text/css'/>
	<link href="css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
	<link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">

</head>
<body>



<body>
<div class="layer">
	<!---728x90--->

	<h1>Join vibeNet today</h1>
	<div class="main-agile1">
		<div class="w3layouts-main">
	<!---728x90--->

					<h2>Sign Up</h2>
					
						
						
						
						<form action="/api/auth/register" method="post">
							<div class="user">
							<input placeholder="Username" name="username" id="username" type="text" required="">
							<span class="icons i1"><i class="fa fa-user" aria-hidden="true"></i></span>
							</div>
							<div class="user">
							<input placeholder="Password" id="password" name="password" type="password" required="">
							<span class="icons i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
							</div>
							<input type="submit" value="Get Started" name="login">
						</form>
		</div>
		<div class="">
			<div class="w3layouts-main">
				<!---728x90--->
			
								<h2>Sign in</h2>
								
									
									<form action="/api/auth/login" method="post" >
										<div class="user">
											<input placeholder="Username" name="username" id="username" type="text" required="">
											<span class="icons i1"><i class="fa fa-user" aria-hidden="true"></i></span>
											</div>
											<div class="user">
											<input placeholder="Password" id="password" name="password" type="password" required="">
											<span class="icons i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
											</div>
										<input type="submit" value="sign in" name="login">
									</form>
								
					</div>
		</div>
		<div class="clear"></div>
	</div>
	<!---728x90--->

	<div class="footer-w3l">
		<p class="agileinfo">  <a target="_blank" >vibeNet</a></p>
	</div>
</div>
</body>

</html>